.table-section {
    text-align: center;
    margin: 30px;
}

.marvel-table {
    width: 66%;
    margin: 0 auto;
    /* border-collapse: collapse; */
}

.marvel-table th, .marvel-table td {
    border: 3px solid rgb(14, 10, 10);
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.marvel-table th {
    background-color: #ed1d24;
}
